####################################################################################
# YADE Configuration
#   XML         : Fragments -> ProtocolFragments -> SMBFragment -> ConfigurationFiles -> ConfigurationFile
#   INI/CLI     : source|target_configuration_files 
####################################################################################

####################################################################################
# For reference (jcifs-ng-2.1.10) see:
# https://github.com/AgNO3/jcifs-ng/blob/jcifs-ng-2.1.10/src/main/java/jcifs/config/PropertyConfiguration.java
# https://github.com/AgNO3/jcifs-ng/blob/jcifs-ng-2.1.10/src/main/java/jcifs/DialectVersion.java
# https://github.com/AgNO3/jcifs-ng/blob/jcifs-ng-2.1.10/src/main/java/jcifs/SmbConstants.java
# https://github.com/AgNO3/jcifs-ng/blob/jcifs-ng-2.1.10/src/test/java/jcifs/tests/ContextConfigTest.java
####################################################################################
####################################################################################
# Dialect
# all                                               : SMB1; SMB202; SMB210; SMB300; SMB302; SMB311
# default(jcifs.smb.client.minVersion/maxVersion)   : SMB202/SMB311
####################################################################################
;jcifs.smb.client.minVersion = SMB1
;jcifs.smb.client.maxVersion = SMB210
####################################################################################
# Encoding
# default   : Cp850
####################################################################################
;jcifs.encoding                              = 
####################################################################################
# Timeout, ms
####################################################################################
# default   : 35000
;jcifs.smb.client.soTimeout                  = 
;jcifs.smb.client.connTimeout                =                
;jcifs.smb.client.sessionTimeout             = 
# default   : 30000
;jcifs.smb.client.responseTimeout            =
        
# default   : false
;jcifs.traceResources                        = true
;jcifs.smb.useRawNTLM                        = true
;jcifs.smb.client.allowGuestFallback         = true
;jcifs.smb.client.disableIdleTimeout         = true
;jcifs.smb.client.disableSpnegoIntegrity     = true
;jcifs.smb.client.encryptionEnabled          = true
;jcifs.smb.client.enforceSpnegoIntegrity     = true
;jcifs.smb.client.forceUnicode               = true
;jcifs.smb.client.forceExtendedSecurity      = true
;jcifs.smb.client.ignoreCopyToException      = true
;jcifs.smb.client.port139.enabled            = true
;jcifs.smb.client.signingPreferred           = true
;jcifs.smb.client.signingEnforced            = true
;jcifs.smb.client.strictResourceLifecycle    = true
;jcifs.smb.client.tcpNoDelay                 = true
;jcifs.smb.client.useBatching                = true
;jcifs.smb.client.useSMB2Negotiation         = true
# default   : true
;jcifs.smb.allowNTLMFallback                 = false
;jcifs.smb.client.disablePlainTextPasswords  = false
;jcifs.smb.client.ipcSigningEnforced         = false
;jcifs.smb.client.requireSecureNegotiate     = false
;jcifs.smb.client.SendNTLMTargetName         = false
;jcifs.smb.client.useExtendedSecurity        = false
;jcifs.smb.client.useLargeReadWrite          = false
;jcifs.smb.client.useNtStatus                = false
;jcifs.smb.client.useNTSmbs                  = false
;jcifs.smb.client.useUnicode                 = false

# default   : 3
;jcifs.smb.lmCompatibility                   = 
# default   : 16
;jcifs.smb.maxBuffers                        = 
# default   : -2147434412
;jcifs.smb.client.capabilities               =
; default   : 51203
;jcifs.smb.client.flags2                     = 
;jcifs.smb.client.lport                      = 
# default   : 10
;jcifs.smb.client.maxMpxCount                = 
# default   : 2
;jcifs.smb.client.maxRequestRetries          = 
# default   : 1024
;jcifs.smb.client.notify_buf_size            =
# default   : 65535
;jcifs.smb.client.rcv_buf_size               = 
;jcifs.smb.client.snd_buf_size               = 
# default   : 250
;jcifs.smb.client.ssnLimit                   = 
# default   : 65023
;jcifs.smb.client.transaction_buf_size       =
# default   : 65435
;jcifs.smb.client.listSize                   =
# default   : 200
;jcifs.smb.client.listCount                  = 
# default   : 5000
;jcifs.smb.client.attrExpirationPeriod       = 

# default   : System.getProperty("os.name")
;jcifs.smb.client.nativeOs                   =
# default   : jCIFS
;jcifs.smb.client.nativeLanMan               = 
# default   : JCIFSGUEST
;jcifs.smb.client.guestUsername              = 
# default   : empty
;jcifs.smb.client.guestPassword              = 

# default   : null
;jcifs.smb.client.logonShare                 =
;jcifs.smb.client.domain                     =
;jcifs.smb.client.username                   =
;jcifs.smb.client.password                   =
# default   : null, comma-separated command list - Smb2TreeConnectRequest, Smb2SessionSetupRequest
;jcifs.smb.client.disallowCompound           =                 
####################################################################################
# jcifs.resolveOrder
# default   : LMHOSTS,DNS,WINS,BCAST 
#             or if jcifs.netbios.wins has not been specified: LMHOSTS,DNS,BCAST
####################################################################################
;jcifs.resolveOrder                           =
####################################################################################
# jcifs.smb.client.dfs
####################################################################################
# default   : false
;jcifs.smb.client.dfs.disabled               = true
;jcifs.smb.client.dfs.strictView             = true
;jcifs.smb.client.dfs.convertToFQDN          = true
# default   : 300
;jcifs.smb.client.dfs.ttl                    = 
####################################################################################
# jcifs.netbios
####################################################################################
# default   : null
;jcifs.netbios.baddr                         = 
;jcifs.netbios.hostname                      = 
;jcifs.netbios.laddr                         = 
;jcifs.netbios.lmhosts                       = 
;jcifs.netbios.scope                         =
;jcifs.netbios.wins                          = 
# default   : (60*10)*60    <- 10 hours
;jcifs.netbios.cachePolicy                   =
# default   : 0
;jcifs.netbios.lport                         = 
# default   : 2
;jcifs.netbios.retryCount                    =
# default   : 3000
;jcifs.netbios.retryTimeout                  = 
# default   : 576
;jcifs.netbios.rcv_buf_size                  =
;jcifs.netbios.snd_buf_size                  = 
# default   : 5000
;jcifs.netbios.soTimeout                     = 
        