####################################################################################
# YADE Configuration
#   XML         : Fragments -> ProtocolFragments -> SMBFragment -> ConfigurationFiles -> ConfigurationFile
#   INI/CLI     : source|target_configuration_files 
####################################################################################

####################################################################################
# Dialect
# all       : UNKNOWN; SMB_2_0_2; SMB_2_1; SMB_2XX; SMB_3_0; SMB_3_0_2; SMB_3_1_1
# default   : SMB_3_1_1; SMB_3_0_2; SMB_3_0; SMB_2_1; SMB_2_0_2
####################################################################################
;dialects                = SMB_3_1_1

# default   : null
;workStationName         = 

# default   : false
;signingRequired         = true
;dfsEnabled              = true
;multiProtocolNegotiate  = true
;encryptData             = true

####################################################################################
# Timeout
#  values: <n>s, e.g.: soTimeout = 120s
####################################################################################
# default   : 0 
;soTimeout               = 
# default   : 60s, sets readTimeout, transactTimeout, writeTimeout
;timeout                 = 
# default   : see timeout
;readTimeout             = 
# default   : see timeout
;transactTimeout         = 
# default   : see timeout
;writeTimeout            = 

####################################################################################
# Buffer size
####################################################################################
# default   : 1048576(1024 * 1024),sets readBufferSize, transactBufferSize, writeBufferSize
;bufferSize              =
# default   : see bufferSize  
;readBufferSize          = 
# default   : see bufferSize  
;transactBufferSize      = 
# default   : see bufferSize  
;writeBufferSize         = 
####################################################################################
# SOSSMBJ specific settings
####################################################################################
# default   : false
;sossmbj.accessMaskMaximumAllowed = true