# Default:  
;workStationName                     =  

# Default:  0
;soTimeout                           = 60s 

# Default:  60s,            sets readTimeout, transactTimeout, writeTimeout
;timeout                             = 60s 
# Default:  see timeout
;readTimeout                         = 60s 
# Default:  see timeout
;transactTimeout                     = 60s 
# Default:  see timeout
;writeTimeout                        = 60s 

# Default: 1048576(1024 * 1024),    sets readBufferSize, transactBufferSize, writeBufferSize
;bufferSize                          = 1048576
# Default:  see bufferSize
;readBufferSize                      = 1048576 
# Default:  see bufferSize
;transactBufferSize                  = 1048576 
# Default:  see bufferSize
;writeBufferSize                     = 1048576 


# Default: false
;signingRequired                     = true

# Default: false
;dfsEnabled                          = true

# Default: false
;multiProtocolNegotiate              = true

# Default: false
;encryptData                         = true


# All:      UNKNOWN; SMB_2_0_2; SMB_2_1; SMB_2XX; SMB_3_0; SMB_3_0_2; SMB_3_1_1
# Default:  SMB_3_1_1; SMB_3_0_2; SMB_3_0; SMB_2_1; SMB_2_0_2
dialects                            = SMB_3_1_1
