<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sos_test</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.connection.autocommit">false</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
  
  <property name="hibernate.c3p0.minPoolSize">1</property>
  <property name="hibernate.c3p0.maxPoolSize">1</property>
  <property name="hibernate.c3p0.initialPoolSize">1</property>
  <property name="hibernate.c3p0.acquireIncrement">1</property>
  <property name="hibernate.c3p0.maxIdleTime">14400</property>
  <property name="hibernate.c3p0.maxConnectionAge">14400</property>
  <property name="hibernate.c3p0.idleConnectionTestPeriod">16200</property>
  
 </session-factory>
</hibernate-configuration>
